/* input[type=text] {
    margin-top: 3px !important;
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !;
    border-radius: 10px !important;
    background-color: White !important;
    
}

input[type=submit] {
    color: White !important;   
    width: 400px;
}

[type="radio"]:not(:checked), [type="radio"]:checked {
    position: relative; 
    opacity: 1; 
}

select{
    margin-top: 3px !important;
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !;
    border-radius: 10px !important;
    background-color: White !important;
} */

label{
    font-size: 15px !important;
    color: black !important;
}

p span{
    margin-top: 24px !important;
}

div#mainWrapper{
    background-color: white;
    margin-top: 20px;
    padding: 20px;

}

.btn{
    background-color: #1c486b;
}
